.table {
	-fx-background-image : url("../Controller/img/fond.png");
	-fx-pref-width : 1100px;
    -fx-pref-height : 600px;
	-fx-background-size : cover;
}

.button {
	-fx-background-color : transparent;
}